[alias]
	s = status
	ch = checkout
	b = branch
	pl = pull
	p = push
	a = add
	c = commit
[user]
	name = davidhbaek
	email = 75276692+davidhbaek@users.noreply.github.com
[pager]
	branch = false
[core]
	pushRemote = no_push
